.Compo {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-left: 80px;
    padding-right: 80px;
    width: 100%;
    position: relative;
    height: 100%;
}
.divTitre {
    height: 100px;
}
.divTitre h1 {
    color: hsl(213, 96%, 18%);
}
.divTitre.dark h1 {
    color: white;
}
.divTitre p {
    color: hsl(231, 11%, 63%);
    font-size: 14px;
}
.labelInfos {
    color: hsl(213, 96%, 18%);
    margin-bottom: 5px;
    font-weight: bold;
}
.labelInfos.dark {
    color: white;
}
.inputInfos {
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    outline: 2px solid rgba(150, 153, 171, 0.5);
    border: none;
    margin-bottom: 15px;
    font-weight: 500;
}
.inputInfos.dark {
    background-color: rgb(33, 39, 54);
    color: white;
}
.inputInfos:focus {
    outline: 4px solid rgb(172, 142, 173);
}
.inputInfos.dark:focus {
    outline: 4px solid rgb(44, 107, 201)
}
.inputInfos::placeholder {
    color: rgba(150, 153, 171, 0.75);
}
.btnNext {
    position: absolute;
    right: 80px;
    bottom: 20px;
    padding: 15px 25px;
    background-color: hsl(213, 96%, 18%);
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s ease;
}
.btnNext.dark {
    background-color: hsl(214, 100%, 95%);
    color: black;
}
.btnNext:hover {
    background-color: hsl(213, 100%, 27%);
}
.btnNext.dark:hover {
    background-color: hsl(212, 100%, 89%);
    color: black;
}
.btnNext.disabled {
    background-color: hsl(212, 39%, 80%);
    color: rgb(255, 255, 255);
    cursor: default;
}
.btnNext.dark.disabled {
    background-color: hsla(0, 0%, 0%, 0.479);
    color: rgb(117, 117, 117);
}
@media (max-width:910px) {
    .Compo {
        padding-left: 20px;
        padding-right: 20px;
    }
    .btnNext {
        right: 20px;
    }

}