.sidebar {
    background-image: url(../../../public/img/sidebar.svg);
    width: 270px;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 50px;
}
.sidebar.dark {
    filter: hue-rotate(330deg);
}
.opt {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    margin-left: 15%;
    cursor: default;
}
.optText {
    display: flex;
    flex-direction: column;
}
.optSteps {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 500;
}
.optTitle {
    color: white;
    font-weight: bold;
}
.optBubble {
    border: 1px solid white;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    transition: 0.3s ease;
}
.optBubble.active {
    background-color: white;
    color: rgb(72, 62, 255);
    border-color: rgb(72, 62, 255);

}

@media (max-width:910px) {
    .sidebar {
        width: 100%;
        height: 100px;
        flex-direction: row;
        gap: 0px;
        padding-top: 0px;
        background-position: 20% 74%;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 10px 10px 0px 0px;
        background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.75)) ,url(../../../public/img/sidebar.svg);
    }
    .opt {
        margin-left: 0;
        gap: 10px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .optBubble{
        min-height: 26px;
        min-width: 26px;
    }
    .optTitle {
        font-size: 12px;
    }
    .optText {
        align-items: center;
    }
}